@model Movie

<h1>Your movie has been updated!</h1>

<h5>Title:</h5>
<p>@Model.Title</p>

<h5>Genre:</h5>
<p>@Model.Genre</p>

<h5>Year:</h5>
<p>@Model.Year</p>

<h5>Run time:</h5>
<p>@Model.RunTime</p>